laravel/vendor/
laravel/node_modules/

# Laravel 4 specific
laravel/bootstrap/compiled.php
laravel/app/storage/

# Laravel 5 & Lumen specific
laravel/bootstrap/cache/
laravel/storage/
laravel/.env.*.php
laravel/.env.php
laravel/.env
laravel/.env.example
